# Nombre: Celic Gabriel Hernández Archundia
## Matrícula: 2877240
### Análisis de resultados

In [2]:
import pandas as pd

In [16]:
columnas_dict = {
 'Matricula': 'str',
 'Nombre': 'str',
 'Nickname': 'str',
 'Equipo': 'str',
 'Preguntas_correctas_1': 'float',
 'Preguntas_incorrectas_1': 'float',
 'Oro_obtenido_1': 'float',
 'Preguntas_correctas_2': 'float',
 'Preguntas_incorrectas_2': 'float',
 'Oro_obtenido_2': 'float',
 'Preguntas_correctas_3': 'float',
 'Preguntas_incorrectas_3': 'float',
 'Oro_obtenido_3': 'float'
}

In [17]:
columnas_dict

{'Matricula': 'str',
 'Nombre': 'str',
 'Nickname': 'str',
 'Equipo': 'str',
 'Preguntas_correctas_1': 'float',
 'Preguntas_incorrectas_1': 'float',
 'Oro_obtenido_1': 'float',
 'Preguntas_correctas_2': 'float',
 'Preguntas_incorrectas_2': 'float',
 'Oro_obtenido_2': 'float',
 'Preguntas_correctas_3': 'float',
 'Preguntas_incorrectas_3': 'float',
 'Oro_obtenido_3': 'float'}

In [18]:
df = pd.read_csv ("resultados_juegos_blooket.csv", dtype = columnas_dict) # dtype

In [19]:
df

,Matricula,Nombre,Nickname,Equipo,Preguntas_correctas_1,Preguntas_incorrectas_1,Oro_obtenido_1,Preguntas_correctas_2,Preguntas_incorrectas_2,Oro_obtenido_2,Preguntas_correctas_3,Preguntas_incorrectas_3,Oro_obtenido_3
0,2854505,"Islas Miranda, Carlos Enrique",Carlos Islas,9,13.0,4.0,157.0,23.0,6.0,2450.0,54.0,16.0,275649.0
1,3006170,"Méndez Hernández, David Sebastián",Mr Fideo,9,11.0,10.0,23.0,NaN,NaN,NaN,37.0,37.0,275649.0
2,2883894,"Ramírez Escalante, Pablo Elias",Pablo Ramírez,1,6.0,2.0,55.0,15.0,12.0,654.0,24.0,28.0,275649.0
3,4500985,"ULLOLA CASTRO, JADE",Ullola Jade,8,5.0,4.0,0.0,15.0,6.0,2963.0,29.0,14.0,244428.0
4,2878106,"Lezama Araoz, Luis Fernando",Luis,7,16.0,8.0,1014.0,21.0,8.0,0.0,49.0,9.0,183371.0
5,3018237,"Sonck Patiño, Emilio",TheSonk,6,5.0,5.0,439.0,5.0,1.0,110.0,32.0,17.0,167644.0
6,2902923,"Isidro Javier, Francisco",francisco isidr,8,6.0,5.0,642.0,11.0,5.0,1676.0,26.0,26.0,150271.0
7,3004603,"Moreno Falcon, Jean Carlo Daniel",Jean Carlo,8,8.0,11.0,333.0,18.0,23.0,682.0,45.0,48.0,95863.0
8,3001834,"Romero López, Rosa Carolina",Caro Romero,5,NaN,NaN,NaN,10.0,3.0,1280.0,35.0,13.0,92929.0
9,2883236,"Almaguer Gonzalez, Mariana",Mariana,1,4.0,5.0,100.0,13.0,12.0,124.0,25.0,17.0,86453.0
10,2992445,"Atacho Galindez, Jesús David",AJ,2,8.0,5.0,436.0,24.0,7.0,4817.0,39.0,13.0,71372.0
11,3005606,"Orozco García, Donovan Gared",Donovan,3,12.0,16.0,606.0,NaN,NaN,NaN,33.0,33.0,59111.0
12,2887087,"Gutierrez Gomez, Ivan",Ivan Gutierrez,7,11.0,4.0,673.0,17.0,4.0,7944.0,35.0,18.0,49728.0
13,2905638,"Mayoral Rodríguez, Marco Antonio",marquitos toys,NaN,11.0,14.0,233.0,20.0,20.0,1340.0,42.0,56.0,49374.0
14,2897709,"García Zarza, Diego Ivan",Diego G,6,8.0,5.0,220.0,26.0,10.0,2460.0,44.0,45.0,44907.0
15,2999206,"López Malerva, Diego Alfredo",LópezDiego,7,8.0,3.0,180.0,15.0,6.0,2431.0,25.0,18.0,41945.0
16,3010113,"Mar Palacios, Karol Alejandra",Karol,5,8.0,5.0,3011.0,7.0,9.0,23.0,19.0,10.0,35513.0
17,NaN,"Esteves Gonzalez, Miguel Angel",estevesmiguel,4,7.0,13.0,369.0,9.0,5.0,1540.0,28.0,43.0,31528.0
18,2878038,"Gómez Herrera, Ana Elisa",GómezAna,4,7.0,4.0,125.0,10.0,7.0,1707.0,15.0,21.0,25094.0
19,NaN,"Hernandez Guerrero, Benjamin",BenjaminH,3,6.0,1.0,359.0,NaN,NaN,NaN,21.0,16.0,16260.0
20,3006890,"Pensabe Cuevas, Daniel Antonio",Kleinsito,4,9.0,5.0,220.0,7.0,6.0,186.0,12.0,10.0,11398.0
21,2877240,"HERNANDEZ ARCHUNDIA, CELIC GABRIEL",Celuc,7,12.0,6.0,420.0,17.0,10.0,4329.0,31.0,20.0,10974.0
22,3002750,"Castillo Gutiérrez, Carlos Eduardo",educastillo,4,12.0,6.0,10.0,13.0,6.0,717.0,20.0,14.0,7858.0
23,2827224,"Contreras Jimenez, Andrea Lizeth",Andreea,5,24.0,10.0,0.0,8.0,2.0,3011.0,21.0,10.0,3886.0
24,3008285,"Velez Velázquez, Bianca Lisset",Bianca,9,5.0,3.0,673.0,9.0,5.0,416.0,NaN,NaN,NaN
25,2706207,"Reyes Yan, Ian Emmanuel",Ian,1,13.0,9.0,897.0,24.0,10.0,11765.0,NaN,NaN,NaN
26,2904273,"Ceballos Moreno, Alan Rodrigo",Alan Ceballos,1,9.0,11.0,210.0,12.0,21.0,181.0,NaN,NaN,NaN
27,2802451,"Barriga Mathieu, Gustavo De Jesús",NaN,3,NaN,NaN,NaN,7.0,14.0,3439.0,NaN,NaN,NaN
28,NaN,"Valencia Medina, Alexis Giovanni",Giovanni VM,3,6.0,7.0,303.0,12.0,9.0,1792.0,NaN,NaN,NaN
29,2945963,"MORENO HERNANDEZ, URIEL ELUZAI",MU,2,7.0,3.0,273.0,13.0,2.0,455.0,NaN,NaN,NaN
30,NaN,"Berlín Peláez, Yair Saúl",BY,2,NaN,NaN,NaN,16.0,12.0,424.0,NaN,NaN,NaN
31,NaN,"Valencia Valadez, Jesús Alejandro",NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
df["Matricula"] = df["Matricula"].astype("str")

In [22]:
df

,Matricula,Nombre,Nickname,Equipo,Preguntas_correctas_1,Preguntas_incorrectas_1,Oro_obtenido_1,Preguntas_correctas_2,Preguntas_incorrectas_2,Oro_obtenido_2,Preguntas_correctas_3,Preguntas_incorrectas_3,Oro_obtenido_3
0,2854505,"Islas Miranda, Carlos Enrique",Carlos Islas,9,13.0,4.0,157.0,23.0,6.0,2450.0,54.0,16.0,275649.0
1,3006170,"Méndez Hernández, David Sebastián",Mr Fideo,9,11.0,10.0,23.0,NaN,NaN,NaN,37.0,37.0,275649.0
2,2883894,"Ramírez Escalante, Pablo Elias",Pablo Ramírez,1,6.0,2.0,55.0,15.0,12.0,654.0,24.0,28.0,275649.0
3,4500985,"ULLOLA CASTRO, JADE",Ullola Jade,8,5.0,4.0,0.0,15.0,6.0,2963.0,29.0,14.0,244428.0
4,2878106,"Lezama Araoz, Luis Fernando",Luis,7,16.0,8.0,1014.0,21.0,8.0,0.0,49.0,9.0,183371.0
5,3018237,"Sonck Patiño, Emilio",TheSonk,6,5.0,5.0,439.0,5.0,1.0,110.0,32.0,17.0,167644.0
6,2902923,"Isidro Javier, Francisco",francisco isidr,8,6.0,5.0,642.0,11.0,5.0,1676.0,26.0,26.0,150271.0
7,3004603,"Moreno Falcon, Jean Carlo Daniel",Jean Carlo,8,8.0,11.0,333.0,18.0,23.0,682.0,45.0,48.0,95863.0
8,3001834,"Romero López, Rosa Carolina",Caro Romero,5,NaN,NaN,NaN,10.0,3.0,1280.0,35.0,13.0,92929.0
9,2883236,"Almaguer Gonzalez, Mariana",Mariana,1,4.0,5.0,100.0,13.0,12.0,124.0,25.0,17.0,86453.0
10,2992445,"Atacho Galindez, Jesús David",AJ,2,8.0,5.0,436.0,24.0,7.0,4817.0,39.0,13.0,71372.0
11,3005606,"Orozco García, Donovan Gared",Donovan,3,12.0,16.0,606.0,NaN,NaN,NaN,33.0,33.0,59111.0
12,2887087,"Gutierrez Gomez, Ivan",Ivan Gutierrez,7,11.0,4.0,673.0,17.0,4.0,7944.0,35.0,18.0,49728.0
13,2905638,"Mayoral Rodríguez, Marco Antonio",marquitos toys,NaN,11.0,14.0,233.0,20.0,20.0,1340.0,42.0,56.0,49374.0
14,2897709,"García Zarza, Diego Ivan",Diego G,6,8.0,5.0,220.0,26.0,10.0,2460.0,44.0,45.0,44907.0
15,2999206,"López Malerva, Diego Alfredo",LópezDiego,7,8.0,3.0,180.0,15.0,6.0,2431.0,25.0,18.0,41945.0
16,3010113,"Mar Palacios, Karol Alejandra",Karol,5,8.0,5.0,3011.0,7.0,9.0,23.0,19.0,10.0,35513.0
17,nan,"Esteves Gonzalez, Miguel Angel",estevesmiguel,4,7.0,13.0,369.0,9.0,5.0,1540.0,28.0,43.0,31528.0
18,2878038,"Gómez Herrera, Ana Elisa",GómezAna,4,7.0,4.0,125.0,10.0,7.0,1707.0,15.0,21.0,25094.0
19,nan,"Hernandez Guerrero, Benjamin",BenjaminH,3,6.0,1.0,359.0,NaN,NaN,NaN,21.0,16.0,16260.0
20,3006890,"Pensabe Cuevas, Daniel Antonio",Kleinsito,4,9.0,5.0,220.0,7.0,6.0,186.0,12.0,10.0,11398.0
21,2877240,"HERNANDEZ ARCHUNDIA, CELIC GABRIEL",Celuc,7,12.0,6.0,420.0,17.0,10.0,4329.0,31.0,20.0,10974.0
22,3002750,"Castillo Gutiérrez, Carlos Eduardo",educastillo,4,12.0,6.0,10.0,13.0,6.0,717.0,20.0,14.0,7858.0
23,2827224,"Contreras Jimenez, Andrea Lizeth",Andreea,5,24.0,10.0,0.0,8.0,2.0,3011.0,21.0,10.0,3886.0
24,3008285,"Velez Velázquez, Bianca Lisset",Bianca,9,5.0,3.0,673.0,9.0,5.0,416.0,NaN,NaN,NaN
25,2706207,"Reyes Yan, Ian Emmanuel",Ian,1,13.0,9.0,897.0,24.0,10.0,11765.0,NaN,NaN,NaN
26,2904273,"Ceballos Moreno, Alan Rodrigo",Alan Ceballos,1,9.0,11.0,210.0,12.0,21.0,181.0,NaN,NaN,NaN
27,2802451,"Barriga Mathieu, Gustavo De Jesús",NaN,3,NaN,NaN,NaN,7.0,14.0,3439.0,NaN,NaN,NaN
28,nan,"Valencia Medina, Alexis Giovanni",Giovanni VM,3,6.0,7.0,303.0,12.0,9.0,1792.0,NaN,NaN,NaN
29,2945963,"MORENO HERNANDEZ, URIEL ELUZAI",MU,2,7.0,3.0,273.0,13.0,2.0,455.0,NaN,NaN,NaN
30,nan,"Berlín Peláez, Yair Saúl",BY,2,NaN,NaN,NaN,16.0,12.0,424.0,NaN,NaN,NaN
31,nan,"Valencia Valadez, Jesús Alejandro",NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
list(df.columns) # Muestra los nombres de todas las columnas

['Matricula',
 'Nombre',
 'Nickname',
 'Equipo',
 'Preguntas_correctas_1',
 'Preguntas_incorrectas_1',
 'Oro_obtenido_1',
 'Preguntas_correctas_2',
 'Preguntas_incorrectas_2',
 'Oro_obtenido_2',
 'Preguntas_correctas_3',
 'Preguntas_incorrectas_3',
 'Oro_obtenido_3']

In [24]:
df.describe() # Muestra un dataframe con toda la estadística descriptiva

,Preguntas_correctas_1,Preguntas_incorrectas_1,Oro_obtenido_1,Preguntas_correctas_2,Preguntas_incorrectas_2,Oro_obtenido_2,Preguntas_correctas_3,Preguntas_incorrectas_3,Oro_obtenido_3
count,28.000000,28.000000,28.000000,28.000000,28.000000,28.000000,24.000000,24.000000,24.000000
mean,9.178571,6.571429,427.892857,14.178571,8.607143,2104.142857,30.875000,23.000000,96118.916667
std,4.172694,3.804759,572.214758,5.824937,5.566695,2610.068251,10.868033,13.555041,92388.954051
min,4.000000,1.000000,0.000000,5.000000,1.000000,0.000000,12.000000,9.000000,3886.000000
25%,6.000000,4.000000,149.000000,9.750000,5.000000,422.000000,23.250000,13.750000,29919.500000
50%,8.000000,5.000000,288.000000,13.000000,7.000000,1440.000000,30.000000,17.500000,54419.500000
75%,11.250000,9.250000,480.750000,17.250000,10.500000,2585.750000,37.500000,29.250000,154614.250000
max,24.000000,16.000000,3011.000000,26.000000,23.000000,11765.000000,54.000000,56.000000,275649.000000

In [26]:
df[["Equipo", "Nombre"]]

   Equipo                              Nombre
0       9       Islas Miranda, Carlos Enrique
1       9   Méndez Hernández, David Sebastián
2       1      Ramírez Escalante, Pablo Elias
3       8                 ULLOLA CASTRO, JADE
4       7         Lezama Araoz, Luis Fernando
5       6                Sonck Patiño, Emilio
6       8            Isidro Javier, Francisco
7       8    Moreno Falcon, Jean Carlo Daniel
8       5         Romero López, Rosa Carolina
9       1          Almaguer Gonzalez, Mariana
10      2        Atacho Galindez, Jesús David
11      3        Orozco García, Donovan Gared
12      7               Gutierrez Gomez, Ivan
13    NaN    Mayoral Rodríguez, Marco Antonio
14      6            García Zarza, Diego Ivan
15      7        López Malerva, Diego Alfredo
16      5       Mar Palacios, Karol Alejandra
17      4      Esteves Gonzalez, Miguel Angel
18      4            Gómez Herrera, Ana Elisa
19      3        Hernandez Guerrero, Benjamin
20      4      Pensabe Cuevas, Daniel Antonio
21      7  HERNANDEZ ARCHUNDIA, CELIC GABRIEL
22      4  Castillo Gutiérrez, Carlos Eduardo
23      5    Contreras Jimenez, Andrea Lizeth
24      9      Velez Velázquez, Bianca Lisset
25      1             Reyes Yan, Ian Emmanuel
26      1       Ceballos Moreno, Alan Rodrigo
27      3   Barriga Mathieu, Gustavo De Jesús
28      3    Valencia Medina, Alexis Giovanni
29      2      MORENO HERNANDEZ, URIEL ELUZAI
30      2            Berlín Peláez, Yair Saúl
31      3   Valencia Valadez, Jesús Alejandro

In [27]:
df["Equipo"].unique()

array(['9', '1', '8', '7', '6', '5', '2', '3', nan, '4'], dtype=object)

In [28]:
df["Equipo"].count()

31

In [29]:
df.dropna().count()

Matricula                  19
Nombre                     19
Nickname                   19
Equipo                     19
Preguntas_correctas_1      19
Preguntas_incorrectas_1    19
Oro_obtenido_1             19
Preguntas_correctas_2      19
Preguntas_incorrectas_2    19
Oro_obtenido_2             19
Preguntas_correctas_3      19
Preguntas_incorrectas_3    19
Oro_obtenido_3             19
dtype: int64

In [32]:
df.fillna(0)

,Matricula,Nombre,Nickname,Equipo,Preguntas_correctas_1,Preguntas_incorrectas_1,Oro_obtenido_1,Preguntas_correctas_2,Preguntas_incorrectas_2,Oro_obtenido_2,Preguntas_correctas_3,Preguntas_incorrectas_3,Oro_obtenido_3
0,2854505,"Islas Miranda, Carlos Enrique",Carlos Islas,9,13.0,4.0,157.0,23.0,6.0,2450.0,54.0,16.0,275649.0
1,3006170,"Méndez Hernández, David Sebastián",Mr Fideo,9,11.0,10.0,23.0,0.0,0.0,0.0,37.0,37.0,275649.0
2,2883894,"Ramírez Escalante, Pablo Elias",Pablo Ramírez,1,6.0,2.0,55.0,15.0,12.0,654.0,24.0,28.0,275649.0
3,4500985,"ULLOLA CASTRO, JADE",Ullola Jade,8,5.0,4.0,0.0,15.0,6.0,2963.0,29.0,14.0,244428.0
4,2878106,"Lezama Araoz, Luis Fernando",Luis,7,16.0,8.0,1014.0,21.0,8.0,0.0,49.0,9.0,183371.0
5,3018237,"Sonck Patiño, Emilio",TheSonk,6,5.0,5.0,439.0,5.0,1.0,110.0,32.0,17.0,167644.0
6,2902923,"Isidro Javier, Francisco",francisco isidr,8,6.0,5.0,642.0,11.0,5.0,1676.0,26.0,26.0,150271.0
7,3004603,"Moreno Falcon, Jean Carlo Daniel",Jean Carlo,8,8.0,11.0,333.0,18.0,23.0,682.0,45.0,48.0,95863.0
8,3001834,"Romero López, Rosa Carolina",Caro Romero,5,0.0,0.0,0.0,10.0,3.0,1280.0,35.0,13.0,92929.0
9,2883236,"Almaguer Gonzalez, Mariana",Mariana,1,4.0,5.0,100.0,13.0,12.0,124.0,25.0,17.0,86453.0
10,2992445,"Atacho Galindez, Jesús David",AJ,2,8.0,5.0,436.0,24.0,7.0,4817.0,39.0,13.0,71372.0
11,3005606,"Orozco García, Donovan Gared",Donovan,3,12.0,16.0,606.0,0.0,0.0,0.0,33.0,33.0,59111.0
12,2887087,"Gutierrez Gomez, Ivan",Ivan Gutierrez,7,11.0,4.0,673.0,17.0,4.0,7944.0,35.0,18.0,49728.0
13,2905638,"Mayoral Rodríguez, Marco Antonio",marquitos toys,0,11.0,14.0,233.0,20.0,20.0,1340.0,42.0,56.0,49374.0
14,2897709,"García Zarza, Diego Ivan",Diego G,6,8.0,5.0,220.0,26.0,10.0,2460.0,44.0,45.0,44907.0
15,2999206,"López Malerva, Diego Alfredo",LópezDiego,7,8.0,3.0,180.0,15.0,6.0,2431.0,25.0,18.0,41945.0
16,3010113,"Mar Palacios, Karol Alejandra",Karol,5,8.0,5.0,3011.0,7.0,9.0,23.0,19.0,10.0,35513.0
17,nan,"Esteves Gonzalez, Miguel Angel",estevesmiguel,4,7.0,13.0,369.0,9.0,5.0,1540.0,28.0,43.0,31528.0
18,2878038,"Gómez Herrera, Ana Elisa",GómezAna,4,7.0,4.0,125.0,10.0,7.0,1707.0,15.0,21.0,25094.0
19,nan,"Hernandez Guerrero, Benjamin",BenjaminH,3,6.0,1.0,359.0,0.0,0.0,0.0,21.0,16.0,16260.0
20,3006890,"Pensabe Cuevas, Daniel Antonio",Kleinsito,4,9.0,5.0,220.0,7.0,6.0,186.0,12.0,10.0,11398.0
21,2877240,"HERNANDEZ ARCHUNDIA, CELIC GABRIEL",Celuc,7,12.0,6.0,420.0,17.0,10.0,4329.0,31.0,20.0,10974.0
22,3002750,"Castillo Gutiérrez, Carlos Eduardo",educastillo,4,12.0,6.0,10.0,13.0,6.0,717.0,20.0,14.0,7858.0
23,2827224,"Contreras Jimenez, Andrea Lizeth",Andreea,5,24.0,10.0,0.0,8.0,2.0,3011.0,21.0,10.0,3886.0
24,3008285,"Velez Velázquez, Bianca Lisset",Bianca,9,5.0,3.0,673.0,9.0,5.0,416.0,0.0,0.0,0.0
25,2706207,"Reyes Yan, Ian Emmanuel",Ian,1,13.0,9.0,897.0,24.0,10.0,11765.0,0.0,0.0,0.0
26,2904273,"Ceballos Moreno, Alan Rodrigo",Alan Ceballos,1,9.0,11.0,210.0,12.0,21.0,181.0,0.0,0.0,0.0
27,2802451,"Barriga Mathieu, Gustavo De Jesús",0,3,0.0,0.0,0.0,7.0,14.0,3439.0,0.0,0.0,0.0
28,nan,"Valencia Medina, Alexis Giovanni",Giovanni VM,3,6.0,7.0,303.0,12.0,9.0,1792.0,0.0,0.0,0.0
29,2945963,"MORENO HERNANDEZ, URIEL ELUZAI",MU,2,7.0,3.0,273.0,13.0,2.0,455.0,0.0,0.0,0.0
30,nan,"Berlín Peláez, Yair Saúl",BY,2,0.0,0.0,0.0,16.0,12.0,424.0,0.0,0.0,0.0
31,nan,"Valencia Valadez, Jesús Alejandro",0,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [34]:
columnas_fillna_dict = {
 'Matricula': 'Matricula no especificada',
 'Nombre': 'Nombre no especificado',
 'Nickname': 'Nickname no especificado',
 'Equipo': 'No especificado',
 'Preguntas_correctas_1': 0,
 'Preguntas_incorrectas_1': 0,
 'Oro_obtenido_1': 0,
 'Preguntas_correctas_2': 0,
 'Preguntas_incorrectas_2': 0,
 'Oro_obtenido_2': 0,
 'Preguntas_correctas_3': 0,
 'Preguntas_incorrectas_3': 0,
 'Oro_obtenido_3': 0
}

In [35]:
df.fillna(columnas_fillna_dict)

,Matricula,Nombre,Nickname,Equipo,Preguntas_correctas_1,Preguntas_incorrectas_1,Oro_obtenido_1,Preguntas_correctas_2,Preguntas_incorrectas_2,Oro_obtenido_2,Preguntas_correctas_3,Preguntas_incorrectas_3,Oro_obtenido_3
0,2854505,"Islas Miranda, Carlos Enrique",Carlos Islas,9,13.0,4.0,157.0,23.0,6.0,2450.0,54.0,16.0,275649.0
1,3006170,"Méndez Hernández, David Sebastián",Mr Fideo,9,11.0,10.0,23.0,0.0,0.0,0.0,37.0,37.0,275649.0
2,2883894,"Ramírez Escalante, Pablo Elias",Pablo Ramírez,1,6.0,2.0,55.0,15.0,12.0,654.0,24.0,28.0,275649.0
3,4500985,"ULLOLA CASTRO, JADE",Ullola Jade,8,5.0,4.0,0.0,15.0,6.0,2963.0,29.0,14.0,244428.0
4,2878106,"Lezama Araoz, Luis Fernando",Luis,7,16.0,8.0,1014.0,21.0,8.0,0.0,49.0,9.0,183371.0
5,3018237,"Sonck Patiño, Emilio",TheSonk,6,5.0,5.0,439.0,5.0,1.0,110.0,32.0,17.0,167644.0
6,2902923,"Isidro Javier, Francisco",francisco isidr,8,6.0,5.0,642.0,11.0,5.0,1676.0,26.0,26.0,150271.0
7,3004603,"Moreno Falcon, Jean Carlo Daniel",Jean Carlo,8,8.0,11.0,333.0,18.0,23.0,682.0,45.0,48.0,95863.0
8,3001834,"Romero López, Rosa Carolina",Caro Romero,5,0.0,0.0,0.0,10.0,3.0,1280.0,35.0,13.0,92929.0
9,2883236,"Almaguer Gonzalez, Mariana",Mariana,1,4.0,5.0,100.0,13.0,12.0,124.0,25.0,17.0,86453.0
10,2992445,"Atacho Galindez, Jesús David",AJ,2,8.0,5.0,436.0,24.0,7.0,4817.0,39.0,13.0,71372.0
11,3005606,"Orozco García, Donovan Gared",Donovan,3,12.0,16.0,606.0,0.0,0.0,0.0,33.0,33.0,59111.0
12,2887087,"Gutierrez Gomez, Ivan",Ivan Gutierrez,7,11.0,4.0,673.0,17.0,4.0,7944.0,35.0,18.0,49728.0
13,2905638,"Mayoral Rodríguez, Marco Antonio",marquitos toys,No especificado,11.0,14.0,233.0,20.0,20.0,1340.0,42.0,56.0,49374.0
14,2897709,"García Zarza, Diego Ivan",Diego G,6,8.0,5.0,220.0,26.0,10.0,2460.0,44.0,45.0,44907.0
15,2999206,"López Malerva, Diego Alfredo",LópezDiego,7,8.0,3.0,180.0,15.0,6.0,2431.0,25.0,18.0,41945.0
16,3010113,"Mar Palacios, Karol Alejandra",Karol,5,8.0,5.0,3011.0,7.0,9.0,23.0,19.0,10.0,35513.0
17,nan,"Esteves Gonzalez, Miguel Angel",estevesmiguel,4,7.0,13.0,369.0,9.0,5.0,1540.0,28.0,43.0,31528.0
18,2878038,"Gómez Herrera, Ana Elisa",GómezAna,4,7.0,4.0,125.0,10.0,7.0,1707.0,15.0,21.0,25094.0
19,nan,"Hernandez Guerrero, Benjamin",BenjaminH,3,6.0,1.0,359.0,0.0,0.0,0.0,21.0,16.0,16260.0
20,3006890,"Pensabe Cuevas, Daniel Antonio",Kleinsito,4,9.0,5.0,220.0,7.0,6.0,186.0,12.0,10.0,11398.0
21,2877240,"HERNANDEZ ARCHUNDIA, CELIC GABRIEL",Celuc,7,12.0,6.0,420.0,17.0,10.0,4329.0,31.0,20.0,10974.0
22,3002750,"Castillo Gutiérrez, Carlos Eduardo",educastillo,4,12.0,6.0,10.0,13.0,6.0,717.0,20.0,14.0,7858.0
23,2827224,"Contreras Jimenez, Andrea Lizeth",Andreea,5,24.0,10.0,0.0,8.0,2.0,3011.0,21.0,10.0,3886.0
24,3008285,"Velez Velázquez, Bianca Lisset",Bianca,9,5.0,3.0,673.0,9.0,5.0,416.0,0.0,0.0,0.0
25,2706207,"Reyes Yan, Ian Emmanuel",Ian,1,13.0,9.0,897.0,24.0,10.0,11765.0,0.0,0.0,0.0
26,2904273,"Ceballos Moreno, Alan Rodrigo",Alan Ceballos,1,9.0,11.0,210.0,12.0,21.0,181.0,0.0,0.0,0.0
27,2802451,"Barriga Mathieu, Gustavo De Jesús",Nickname no especificado,3,0.0,0.0,0.0,7.0,14.0,3439.0,0.0,0.0,0.0
28,nan,"Valencia Medina, Alexis Giovanni",Giovanni VM,3,6.0,7.0,303.0,12.0,9.0,1792.0,0.0,0.0,0.0
29,2945963,"MORENO HERNANDEZ, URIEL ELUZAI",MU,2,7.0,3.0,273.0,13.0,2.0,455.0,0.0,0.0,0.0
30,nan,"Berlín Peláez, Yair Saúl",BY,2,0.0,0.0,0.0,16.0,12.0,424.0,0.0,0.0,0.0
31,nan,"Valencia Valadez, Jesús Alejandro",Nickname no especificado,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [37]:
miNombre = "CELIC GABRIEL HERNÁNDEZ Archundia"
mylist = miNombre.split()

for texto in mylist:
    print(texto.capitalize())

Celic
Gabriel
Hernández
Archundia

In [58]:
def format_name(text):
    text = text.replace(",","")
    mylist = text.split()
    resultado = ""
    for text in mylist:
        if resultado != "":
            resultado = resultado + " "
        resultado = resultado + text.capitalize()
    return resultado

In [59]:
format_name("LUIS ARTURO LEZAMA LECHAM")

'Luis Arturo Lezama Lecham'

In [62]:
df["Nombre"] = df["Nombre"].apply(format_name) # Le ponemos igual para que el cambio se mantenga posteriormente y no solo en esta celda
df

,Matricula,Nombre,Nickname,Equipo,Preguntas_correctas_1,Preguntas_incorrectas_1,Oro_obtenido_1,Preguntas_correctas_2,Preguntas_incorrectas_2,Oro_obtenido_2,Preguntas_correctas_3,Preguntas_incorrectas_3,Oro_obtenido_3
0,2854505,Islas Miranda Carlos Enrique,Carlos Islas,9,13.0,4.0,157.0,23.0,6.0,2450.0,54.0,16.0,275649.0
1,3006170,Méndez Hernández David Sebastián,Mr Fideo,9,11.0,10.0,23.0,NaN,NaN,NaN,37.0,37.0,275649.0
2,2883894,Ramírez Escalante Pablo Elias,Pablo Ramírez,1,6.0,2.0,55.0,15.0,12.0,654.0,24.0,28.0,275649.0
3,4500985,Ullola Castro Jade,Ullola Jade,8,5.0,4.0,0.0,15.0,6.0,2963.0,29.0,14.0,244428.0
4,2878106,Lezama Araoz Luis Fernando,Luis,7,16.0,8.0,1014.0,21.0,8.0,0.0,49.0,9.0,183371.0
5,3018237,Sonck Patiño Emilio,TheSonk,6,5.0,5.0,439.0,5.0,1.0,110.0,32.0,17.0,167644.0
6,2902923,Isidro Javier Francisco,francisco isidr,8,6.0,5.0,642.0,11.0,5.0,1676.0,26.0,26.0,150271.0
7,3004603,Moreno Falcon Jean Carlo Daniel,Jean Carlo,8,8.0,11.0,333.0,18.0,23.0,682.0,45.0,48.0,95863.0
8,3001834,Romero López Rosa Carolina,Caro Romero,5,NaN,NaN,NaN,10.0,3.0,1280.0,35.0,13.0,92929.0
9,2883236,Almaguer Gonzalez Mariana,Mariana,1,4.0,5.0,100.0,13.0,12.0,124.0,25.0,17.0,86453.0
10,2992445,Atacho Galindez Jesús David,AJ,2,8.0,5.0,436.0,24.0,7.0,4817.0,39.0,13.0,71372.0
11,3005606,Orozco García Donovan Gared,Donovan,3,12.0,16.0,606.0,NaN,NaN,NaN,33.0,33.0,59111.0
12,2887087,Gutierrez Gomez Ivan,Ivan Gutierrez,7,11.0,4.0,673.0,17.0,4.0,7944.0,35.0,18.0,49728.0
13,2905638,Mayoral Rodríguez Marco Antonio,marquitos toys,NaN,11.0,14.0,233.0,20.0,20.0,1340.0,42.0,56.0,49374.0
14,2897709,García Zarza Diego Ivan,Diego G,6,8.0,5.0,220.0,26.0,10.0,2460.0,44.0,45.0,44907.0
15,2999206,López Malerva Diego Alfredo,LópezDiego,7,8.0,3.0,180.0,15.0,6.0,2431.0,25.0,18.0,41945.0
16,3010113,Mar Palacios Karol Alejandra,Karol,5,8.0,5.0,3011.0,7.0,9.0,23.0,19.0,10.0,35513.0
17,nan,Esteves Gonzalez Miguel Angel,estevesmiguel,4,7.0,13.0,369.0,9.0,5.0,1540.0,28.0,43.0,31528.0
18,2878038,Gómez Herrera Ana Elisa,GómezAna,4,7.0,4.0,125.0,10.0,7.0,1707.0,15.0,21.0,25094.0
19,nan,Hernandez Guerrero Benjamin,BenjaminH,3,6.0,1.0,359.0,NaN,NaN,NaN,21.0,16.0,16260.0
20,3006890,Pensabe Cuevas Daniel Antonio,Kleinsito,4,9.0,5.0,220.0,7.0,6.0,186.0,12.0,10.0,11398.0
21,2877240,Hernandez Archundia Celic Gabriel,Celuc,7,12.0,6.0,420.0,17.0,10.0,4329.0,31.0,20.0,10974.0
22,3002750,Castillo Gutiérrez Carlos Eduardo,educastillo,4,12.0,6.0,10.0,13.0,6.0,717.0,20.0,14.0,7858.0
23,2827224,Contreras Jimenez Andrea Lizeth,Andreea,5,24.0,10.0,0.0,8.0,2.0,3011.0,21.0,10.0,3886.0
24,3008285,Velez Velázquez Bianca Lisset,Bianca,9,5.0,3.0,673.0,9.0,5.0,416.0,NaN,NaN,NaN
25,2706207,Reyes Yan Ian Emmanuel,Ian,1,13.0,9.0,897.0,24.0,10.0,11765.0,NaN,NaN,NaN
26,2904273,Ceballos Moreno Alan Rodrigo,Alan Ceballos,1,9.0,11.0,210.0,12.0,21.0,181.0,NaN,NaN,NaN
27,2802451,Barriga Mathieu Gustavo De Jesús,NaN,3,NaN,NaN,NaN,7.0,14.0,3439.0,NaN,NaN,NaN
28,nan,Valencia Medina Alexis Giovanni,Giovanni VM,3,6.0,7.0,303.0,12.0,9.0,1792.0,NaN,NaN,NaN
29,2945963,Moreno Hernandez Uriel Eluzai,MU,2,7.0,3.0,273.0,13.0,2.0,455.0,NaN,NaN,NaN
30,nan,Berlín Peláez Yair Saúl,BY,2,NaN,NaN,NaN,16.0,12.0,424.0,NaN,NaN,NaN
31,nan,Valencia Valadez Jesús Alejandro,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [64]:
def calcular_calif(fila):
    total = fila["Preguntas_correctas_1"] + fila["Preguntas_incorrectas_1"]
    return fila["Preguntas_correctas_1"] / total *100

df.apply(calcular_calif, axis = 1)  # axis = 1: Evaluar por fila  axis = 0: Evaluar por columna

0     76.470588
1     52.380952
2     75.000000
3     55.555556
4     66.666667
5     50.000000
6     54.545455
7     42.105263
8           NaN
9     44.444444
10    61.538462
11    42.857143
12    73.333333
13    44.000000
14    61.538462
15    72.727273
16    61.538462
17    35.000000
18    63.636364
19    85.714286
20    64.285714
21    66.666667
22    66.666667
23    70.588235
24    62.500000
25    59.090909
26    45.000000
27          NaN
28    46.153846
29    70.000000
30          NaN
31          NaN
dtype: float64

In [65]:
df.groupby("Equipo").mean() # groupby: Agrupar datos de una forma particular

,Preguntas_correctas_1,Preguntas_incorrectas_1,Oro_obtenido_1,Preguntas_correctas_2,Preguntas_incorrectas_2,Oro_obtenido_2,Preguntas_correctas_3,Preguntas_incorrectas_3,Oro_obtenido_3
Equipo,,,,,,,,,
1,8.000000,6.750000,315.500000,16.000000,13.750000,3181.000000,24.500000,22.500000,181051.000000
2,7.500000,4.000000,354.500000,17.666667,7.000000,1898.666667,39.000000,13.000000,71372.000000
3,8.000000,8.000000,422.666667,9.500000,11.500000,2615.500000,27.000000,24.500000,37685.500000
4,8.750000,7.000000,181.000000,9.750000,6.000000,1037.500000,18.750000,22.000000,18969.500000
5,16.000000,7.500000,1505.500000,8.333333,4.666667,1438.000000,25.000000,11.000000,44109.333333
6,6.500000,5.000000,329.500000,15.500000,5.500000,1285.000000,38.000000,31.000000,106275.500000
7,11.750000,5.250000,571.750000,17.500000,7.000000,3676.000000,35.000000,16.250000,71504.500000
8,6.333333,6.666667,325.000000,14.666667,11.333333,1773.666667,33.333333,29.333333,163520.666667
9,9.666667,5.666667,284.333333,16.000000,5.500000,1433.000000,45.500000,26.500000,275649.000000

In [66]:
df.groupby("Equipo").sum()

,Preguntas_correctas_1,Preguntas_incorrectas_1,Oro_obtenido_1,Preguntas_correctas_2,Preguntas_incorrectas_2,Oro_obtenido_2,Preguntas_correctas_3,Preguntas_incorrectas_3,Oro_obtenido_3
Equipo,,,,,,,,,
1,32.0,27.0,1262.0,64.0,55.0,12724.0,49.0,45.0,362102.0
2,15.0,8.0,709.0,53.0,21.0,5696.0,39.0,13.0,71372.0
3,24.0,24.0,1268.0,19.0,23.0,5231.0,54.0,49.0,75371.0
4,35.0,28.0,724.0,39.0,24.0,4150.0,75.0,88.0,75878.0
5,32.0,15.0,3011.0,25.0,14.0,4314.0,75.0,33.0,132328.0
6,13.0,10.0,659.0,31.0,11.0,2570.0,76.0,62.0,212551.0
7,47.0,21.0,2287.0,70.0,28.0,14704.0,140.0,65.0,286018.0
8,19.0,20.0,975.0,44.0,34.0,5321.0,100.0,88.0,490562.0
9,29.0,17.0,853.0,32.0,11.0,2866.0,91.0,53.0,551298.0